<div class="employee list-entry">
  <figure>
    <%= image_tag(asset_path(employee.image), :width => 50) %>
    <figcaption>
      <strong>employee.name</strong>
      <div class="actions">
        <a class="msg"><span class="glyphicon glyphicon-envelope"></span></a>
        <a class="cal"><span class="glyphicon glyphicon-calendar"></span></a>
      </div>
    </figcaption>
  </figure>
</div>