.main > header {
  width:100%;
  // Main Navigation
  .navbar {
    position:fixed;
    z-index:500;
    top:0;left:0;right:0;
    .navbar-brand {
      font-size:1.75em;
      font-family:serif;
      color:#c00;
      border-right:1px solid #ccc;
    }
    .nav-right {
      margin-right:2.5em;
      img {
        height:70px;
        position:fixed;
        right:1em;top:5px;
        border:1px solid #EEE;
        box-shadow:2px 5px 5px #ccc;
        padding:2px;
      }
    }
  }
}
.nav.summary {
  margin-right:5em;
  header {
    font-weight:bold;
  }
  .sc_notification {
    position:relative;
    top:.45em;
    a {
      display:inline-block;
    }
    span.glyphicon {
      font-size:1.9em;
      margin:.25em .5em;
    }
    span.badge {
      position:absolute;
      right:8px;top:-1.5em;
      box-shadow:0px 3px 4px rgba(0, 0, 0, .2);
      background:#c00;
    }
    .empty {
      color:#aaa;
      span {margin:.25em 0}
    }
  }
}