.employee {
  cursor:pointer;
  -webkit-transition:background .2s ease-in-out;
  width:100%;
  padding:5px;
  &:hover {
    background:#fff;
  }
  &.list-entry {
    display:table;
    table-layout:fixed;
    position:relative;
    figure, figure + div {
      display:table-cell;
    }
    figure {
      vertical-align:middle;
      width:55px;
    }
    h6 {
      padding:0;margin:2px 0;
      font-size:1em;
      word-wrap:nowrap;
    }
    figure + div {
      vertical-align:top;
      padding-left:5px;
      a {
        text-align:center;
        margin:.5em .25em;
        font-size:1.25em;
        display:inline-block;
      }
    }
  }
}