<h3>Admin Dashboard</h3>

<% if flash[:notice] %>
  <p class="well well-info"><%= flash[:notice] %></p>
<% end %>


<% if !@users.empty? %>
  <%= render :template => 'users/index' %>
<% end %>

<% if current_user.try(:admin?) %>
<section class="admin">
  <div class="btn-group pull-right">
    <a href="/admin/users/new" id="add" class="btn btn-default">
      <span class="glyphicon glyphicon-user"></span> Add New User</a>
    <a href="admin/users/remove" id="remove" class="btn btn-default disabled">
      <span class="glyphicon glyphicon-fire"></span> Remove User</a>
  </div>
</section>
<% end %>