<h2>Welcome</h2>
<h4>All-Rails version of Scheduler</h4>
<p>Getting Angular and Rails to get along was becoming more work than it's worth right now. We can 
  revisit that later if we really want to.</p>