<div id="sitemap">
  <section>
    <div>
      <h3>Scheduling</h3>
    </div>

    <div>
      <h3>Time Off Requests</h3>
    </div>

    <div>
      <h3>Corkboard</h3>
    </div>

  </section>

  <section>
    <div>
      <h3>Messages</h3>
    </div>
    <div>
      
      <h3>Calendar of Events</h3>
    </div>
    <div>
      
    </div>
  </section>
</div>