<div class="panel panel-default">
  <header class="panel-heading">
    Scheduling
  </header>
  <div class="panel-body">
    <ul class="list list-unstyled">
      <li><a href="#">Manage Availability</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <header class="panel-heading">
    Requests
  </header>
  <div class="panel-body">
    <ul class="list list-unstyled">
      <li><a href="#">Create new Request</a></li>
      <li><a href="#">View My Requests</a></li>
      <li><a href="#">Post to Corkboard</a></li>
    </ul>  
  </div>
</div>