<div class="panel panel-default">
  <header class="panel-heading clear">
    <div><%= render template: 'tips/tracker_controls' %></div>
  </header>
  <div class="panel-body">
    <div id="highchart_place"></div>
  </div>
  <footer class="panel-footer">
    <section class="btn-group">
      <button class="btn btn-default" data-hc-view="week">Week</button>
      <button class="btn btn-default" data-hc-view="month">Month</button>
      <button class="btn btn-default" data-hc-view="all">All Time</button>
    </section>
  </footer>
</div>