.employee {
  &.list-entry {
    overflow:hidden;
    position:relative;
    figure {      
      display:table;
      strong {
        word-wrap:nowrap;
      }
      img, figcaption {
        display:table-cell
      }
      figcaption {
        vertical-align:top;
        padding:.5em 0;
      }
      .actions {
        a {
          text-align:center;
          font-size:1.25em;
          margin:.5em .15em 0;
          display:inline-block;
          &.disabled span {
            color:#aaa;
          }
        }
      }
    }
  }
}