// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";

@import 'app_modules/schedule';

/* CSS Document */
.dashboard {
  >header {
    color:#c00
  }
  #overview {
    margin-top:1em;
  }
  .panel {
    box-shadow:0px 5px 4px rgba(0, 0, 0, .2)
  }
  .panel-heading {
    font-size:1em;
    padding:.5em;
    color:#333
  }
  .today {
    position:relative;
    > div {
      margin-left:-3em;
    }
  }  
  ul.roles {
    $bell : #c00;
    $door : #00c;
    $valet : #FFBB00;
    list-style:none outside;
    padding:0;margin:0;
    position:absolute;
    top:0;
    right:8px;
    li {
      margin:5px 0;
      width:40px;height:40px;
      border-radius:32px;
      text-indent:-9999px;
      overflow:hidden;
      opacity:.5;
      &.active {
        opacity:1
      }
      &.door {
        background:desaturate($door, 100%);
        &.active {background:$door;}
      }
      &.bell {
        background:desaturate($bell, 100%);
        &.active {background:$bell}
      }
      &.valet {
        background:desaturate($valet, 100%);
        &.active {background:$valet}
      }
    }
  }
  #highchart_place {
    height:295px;
  }
}