<header>
  <nav class="navbar navbar-default">
  <div class="navbar-inner">
    <a href="/" class="navbar-brand">Schedulr</a>
    <ul class="nav navbar-nav">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Employees <strong class="caret"></strong></a>
      <ul class="dropdown-menu">
        <li><a href="/employees">All Employees</a></li>
        <li><a>Schedule Templates</a></li>
        <li><a>Edit Details</a></li>
        <li class="divider"></li>
        <li><%= link_to "New Hire", new_employee_path %></li>
        <li><a>Donald Trump</a></li>
      </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Schedules <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><a>Create New</a></li>
          <li><a>Edit Current</a></li>
          <li><a>All Schedules</a></li>
        </ul>
      </li>
      <li><a>Messages</li></a>
      <li><a>Requests</li></a>
      <li><a>Site Activity</a></li>
    </ul>
    <div class="nav-right">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
        <li class="nav summary">
          <div>
            <%= render 'navbar_notification', :type => "envelope", :count => 2 %>
            <%= render 'navbar_notification', :type => "calendar", :count => 5 %>
            <!--
            <a sc-notification="envelope" type="message" count="1"></a>
            <a sc-notification="calendar" type="request" count="3"></a>
            -->
          </div>
        </li>
        <li><%= image_tag asset_path "placeholder.jpg" %></li>
      </ul>
    </div>
  </div>
  </nav>
</header>