<aside>

  <div class="aside-wrapper">
    <!-- Sidebar Action areas -->
    <div class="aside-content">
      <div class="box-flex">
        <div>
          <!-- Employee List -->
          <section class="scrollbox">
            <div class="scrollbox-inner">
            <!-- Presentational Fade Boxes -->

            <% User.all.each do |emp| %>
              <div class="employee list-entry">
                <figure>
                  <%= image_tag(gravatar_url(emp), :width => 55) %>
                </figure>
                <div>
                  <h6><%= emp.name %></h6>
                  <footer>
                    <div id="admin">
                      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                    </div>
                  </footer>
                </div>
              </div>
            <% end %>

            </div>
          </section>

        </div>
      </div>
      <!-- /.box -->
      <div class="box btn-actions">
          <div>
            <button type="button" class="btn btn-md btn-default">Send Group Email</button>
            <button type="button" class="btn btn-md btn-warning">Clear All Notifications</button>
          </div>
      </div>   
    </div>
  </div>
</aside>