<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scheduler Skeleton</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application' %>
  </head>
<body data-ng-app="Scheduler">

  <!-- <main> -->
  <div class="main" data-ng-controller="MainController">
    <%= render 'static_employee_sidebar' %>

    <!-- Main Content Area -->
    <section class="content-stage">
      <%= render 'page_navigation' %>

      <!-- Main Content Area, yield or ng-view -->
      <div class="content ng-view"></div>
      <!-- End Main Content Area -->

    </section>

    <footer class="toolbar">
      <div class="content-wrapper">
        <p>Footer content</p>
      </div>
    </footer>
  </div>
  <!-- </main> -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>