<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scheduler Skeleton</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application' %>
  </head>
<body data-ng-app="Scheduler">

  <!-- <main> -->
  <div class="main" data-ng-controller="MainController">
    <aside>
      <!-- Sidebar Action areas -->
      <div class="aside-content">

        <!-- .box -->
        <div class="box-flex">
          <div>
            <!-- Employee List -->
            <div class="scrollbox">
              <!-- Presentational Fade Boxes -->
              <div class="fade top"></div>
              <div class="fade bottom"></div>

              <!-- Angular repeat list -->
              <ul class="list list-unstyled employee-list">
                <li data-ng-repeat="employee in employees" sc-employee-list="employee" ><%= image_tag "placeholder.jpg", :width => 40 %>{{employee.name}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box -->
        <div class="box btn-actions">
            <div>
              <button type="button" class="btn btn-md btn-default">Send Group Email</button>
              <button type="button" class="btn btn-md btn-warning">Clear All Notifications</button>
            </div>
        </div>

        
      </div>
    </aside>

    <!-- Main Content Area -->
    <section class="content-stage">
      <header>
        <nav class="navbar navbar-default">
        <div class="navbar-inner">
          <ul class="nav navbar-nav">
            <li><a href="#">Overview</a></li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees <strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">Schedule Templates</a></li>
              <li><a href="#">Edit Details</a></li>
              <li class="divider"></li>
              <li><a href="#">New Hire</a></li>
              <li><a href="#">Donald Trump</a></li>
            </ul>
            </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedules <strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li><a href="#">Create New</a></li>
              <li><a href="#">Edit Current</a></li>
              <li><a href="#">All Schedules</a></li>
            </ul>
            </li>
            <li><a href="#">Site Activity</a></li>
          </ul>
          <div class="nav-right">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Log In</a></li>
            </ul>
          </div>
        </div>
        </nav>
      </header>

      <!-- Main Content Area, yield or ng-view -->
      <div class="content">
         <h4>Schedule Overview for <strong>Company, Inc.</strong></h4>

         <p>Please note that nothing works.  It's all for show. Have fun clicking around and making hashmarks appear in your URL bar.</p>

         <p>If you have anything to add, do so in the documents in Google Drive.</p>

         <p>You may pull the repo from <a href="https://github.com/GeerSwitch/vror.git" target="_blank">GitHub</a>.

          <div sc-full-calendar></div>
      </div>
      <!-- End Main Content Area -->

    </section>


    <footer class="toolbar">
      <div class="content-wrapper">
        <p>Footer content</p>
      </div>
    </footer>
  </div>
  <!-- </main> -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>