<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Schedulr | Log In</title>
  <%= stylesheet_link_tag 'devise_application' %>
  </head>
<body>
  <div class="main">
    <!-- Main Content Area -->
    <section class="content-stage">
      <div class="content container">
        <%= yield %>
      </div>
    </section>
  </div>
  <%= javascript_include_tag 'devise_application' %>
</body>
</html> 